* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

.hidden {
  display: none;
}

body {
  background-color: #121214;
}

.cabeçalho {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}

.container {
  background-color: #121214;
  margin-top: -50px;
}

#logo {
  cursor: pointer;
  height: 75px;
  margin-top: 20px;
  margin-left: -75px;
}

.sobre {
  margin-left: 1000px;
  margin-top: -95px;
  background-color: #121214;
  padding: 32px 0;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
  font-family: Inter, sans-serif;
}

.dentro_Sobre a {
  margin-left: -75px;
  padding: 32px 0;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
  font-family: Inter,
    sans-serif;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu ul li {
  width: 125px;
  float: left;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
}

.menu ul ul {
  position: absolute;
  visibility: hidden;
}

.menu ul li:hover ul {
  visibility: visible;
}

.menu a:hover {
  background-color: #30e342;
}

.menu ul ul li {
  float: none;
  border-bottom: solid 1px white;
}

button {
  margin-top: -72.5px;
  margin-left: 1050px;
  cursor: pointer;
  background: #fbfbfb;
  color: #343a40;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  transition: all 0.3s;
  margin-bottom: 0;
  padding: 0.4rem 0.8rem;
  font-size: 0.84375rem;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-family: "Ubuntu",
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
}

main {
  margin-top: -25px;
}

p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 40px;
  max-width: unset;
  color: #30e342;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  font-family: "Playfair Display", Inter,
    sans-serif;
  display: flex;
}

h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.019em;
  color: white;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu2 ul {
  list-style: none;
  position: relative;
}

.menu2 ul li {
  width: 150px;
  float: left;
  margin-left: 20px;
  margin-top: -10px;
}

.menu2 a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
  margin-left: 0px;
}

.menu2 button a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: #343a40;
  margin-left: 0px;
}

.menu2 ul ul {
  position: absolute;
  visibility: hidden;
}

.menu2 ul li:hover ul {
  visibility: visible;
}

.menu2 a:hover {
  background-color: #30e342;
}

.menu2 ul ul li {
  float: none;
  border-bottom: solid 1px white;
  margin-left: 1035px;
}

#m1 {
  color:#fbfbfb;
  margin-left: 40px;
  margin-top: 25px;
  background-color: #30e342;
}

.img1 {
  margin-left: 650px;
  height: 450px;
  margin-top: -75px;
}

#tipo2 {
  margin-left: 975px;
  display: block;
}

.títuloMem {
  margin-left: 900px;
  display: block;
}

#descricao2 {
  margin-left: 1100px;
  margin-top: -1000px;
  color: white;
  font-weight: 400;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  font-family: Roboto,
  sans-serif;
}

.img2 {
  margin-top: -50px;
   margin-left: 200px;
   height: 450px;
}

.títuloMETF {
  margin-left: 40px;
  display: block;
}

#m2 {
  margin-top: 25px;
  margin-left: 1200px;
  background-color: #30e342;
}

.img3 {
  margin-top: -50px;
  margin-left: 650px;
  height: 450px;
}

#logo2 {
  margin-left: 30px;
  cursor: pointer;
  height: 75px;
  display: inline;
  margin-top: 25px;
}

.ano {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  margin-left: -860px;
  margin-top: -75px;
  display: block;
}

.direitos {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  display: block;
  margin-left: -750px;
  display: block;
}

#fale {
  font-size: 14px;
  margin-top: -75px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#email {
  margin-left: 600px;
  color: white;
  text-decoration: none;
}

.informacoes {
  font-size: 1rem;
  margin-bottom: 16px;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 1025px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: -50px;
}

.politica {
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 875px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.sobre2 {
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1075px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#termos {
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1175px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin-top: -27.5px;
}

#link-topo {
  text-decoration: none;
  color: #e1e1e6;
  background-color: #292929;
  box-sizing: border-box;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 24;
  width: 24;
  overflow: hidden;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  font: 400 13.3333px Arial;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30e342);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30e342);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1ee64c;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

@media screen and (max-width: 280px) {
  #logo {
    margin-left: -35px;
    height: 60px;
    margin-top: 0x;
  }
  .sobre {
    margin-left: 65px;
    font-size: 16px;
    margin-top: -85px;
  }
  button {
  margin-top: -60px;
  margin-left: 100px;
  cursor: pointer;
  background: #fbfbfb;
  color: #343a40;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  transition: all 0.3s;
  margin-bottom: 0;
  padding: 0.001rem 0.001rem;
  font-size: 0.74375rem;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-family: "Ubuntu",
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  }

  hr {
    margin-top: 5px;
  }
  #título {
    margin-left: 10px;
    font-size: 36px;
    line-height: 48px;
  }
  #subtítulo {
    margin-left: 10px;
    font-size: 20px;
  }
  #título2 {
    margin-left: 1px;
    text-align: center;
    font-size: 20px;
  }
  #título3 {
    margin-left: 1px;
    text-align: center;
    font-size: 24px;
  }
  #pix {
    margin-left: 30px;
    height: 200px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 0.75em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 0.75em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 40px;
    height: 80px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 105px;
  }

  .direitos {
    text-align: center;
  }
  .doacao {
    margin-left: 110px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  .email {
    margin-left: 40px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: -10px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  #logo {
    height: 50px;
  }
  .sobre {
    margin-left: 130px;
    font-size: 20px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 240px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
  }
  hr {
    margin-top: 8px;
  }
  #título {
    margin-left: 10px;
    font-size: 44px;
    line-height: 48px;
  }
  #subtítulo {
    margin-left: 10px;
    font-size: 20px;
  }
  #título2 {
    margin-left: 0px;
    text-align: center;
    font-size: 22px;
  }
  #título3 {
    margin-left: 10px;
    text-align: center;
    font-size: 24px;
  }
  #pix {
    margin-left: 55px;
    height: 200px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 14px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 0.75em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 0.75em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 75px;
    height: 65px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 125px;
  }

  .direitos {
    text-align: center;
    margin-left: 10px;
  }
  .doacao {
    margin-left: 125px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  .email {
    margin-left: 70px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 1px;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  .container {
    width: 100%;
  }
  #logo {
    margin-left: 10px;
    height: 70px;
    margin-top: 0x;
  }
  .sobre {
    margin-left: 175px;
    font-size: 22px;
    margin-top: -90px;
  }
  button {
  margin-top: -65px;
  margin-left: 235px;
  cursor: pointer;
  background: #fbfbfb;
  color: #343a40;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  transition: all 0.3s;
  margin-bottom: 0;
  padding: 0.001rem 0.001rem;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-family: "Ubuntu",
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  }

  #título {
    margin-left: 10px;
    font-size: 36px;
    line-height: 48px;
  }
  #subtítulo {
    margin-left: 10px;
    font-size: 20px;
  }
  #título2 {
    margin-left: 0px;
    text-align: center;
    font-size: 24px;
  }
  #título3 {
    margin-left: 10px;
    text-align: center;
    font-size: 24px;
  }
  #pix {
    margin-left: 70px;
    height: 225px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    font-size: 24px;
    text-align: center;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 16px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 0.9em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 0.9em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 95px;
    height: 65px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 140px;
  }

  .direitos {
    text-align: center;
    margin-left: 10px;
  }
  .doacao {
    margin-left: 145px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    margin-left: 0px;
  }
  .email {
    margin-left: 90px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  #logo {
    height: 50px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 175px;
    font-size: 20px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 325px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    padding: 1.5em;
  }
  hr {
    margin-top: 1px;
  }
  #título {
    margin-left: 10px;
    font-size: 36px;
    line-height: 48px;
  }
  #subtítulo {
    margin-left: 10px;
    font-size: 20px;
  }
  #título2 {
    margin-left: 0px;
    text-align: center;
    font-size: 28px;
  }
  #título3 {
    margin-left: 10px;
    text-align: center;
    font-size: 28px;
  }
  #pix {
    margin-left: 80px;
    height: 250px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    font-size: 22px;
    text-align: center;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 1em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 1em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 100px;
    height: 85px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 170px;
  }

  .direitos {
    text-align: center;
    margin-left: 10px;
  }
  .doacao {
    margin-left: 175px;
    height: 5px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    margin-left: 25px;
  }
  .email {
    margin-left: 120px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 540px) {
  #logo {
    height: 70px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 225px;
    font-size: 32px;
    margin-top: -85px;
  }
  button {
    margin-top: -117.5px;
    margin-left: 450px;
    height: 7.5px;
    border-radius: 1em;
    min-width: 15px;
    background-color: white;
    padding: 2em;
  }
  hr {
    margin-top: 7.5px;
  }
  #título {
    margin-left: 0px;
    font-size: 33px;
    line-height: 48px;
    text-align: center;
  }
  #subtítulo {
    margin-left: 0px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  #título2 {
    margin-left: 0px;
    text-align: center;
    font-size: 36px;
  }
  #título3 {
    margin-left: 15px;
    text-align: center;
    font-size: 32px;
  }
  #pix {
    margin-left: 115px;
    height: 300px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    text-align: center;
    font-size: 28px;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 24px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 1.1em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 1.1em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 145px;
    height: 100px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 225px;
  }

  .direitos {
    text-align: center;
    margin-left: 10px;
  }
  .doacao {
    margin-left: 230px;
    height: 10px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    text-align: center;
  }
  .email {
    margin-left: 170px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 10px;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  #logo {
    height: 90px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 275px;
    font-size: 40px;
    margin-top: -100px;
  }
  button {
    margin-left: 525px;
    padding: 1.2em 0.5em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6875rem;
    transition: all 0.3s ease;
    height: 25px;
    color: #051933;
    background-color: white;
    font-weight: 800;
    border-radius: 1.5em;
    text-decoration: none;
    box-sizing: inherit;
    cursor: pointer;
    -webkit-box-direction: normal;
    line-height: 1;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: -125px;
  }
  hr {
    margin-top: 15px;
  }
  #título {
    margin-left: 0px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }
  #subtítulo {
    margin-left: 0px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  #título2 {
    margin-left: 0px;
    text-align: center;
    font-size: 44px;
  }
  #título3 {
    margin-left: 15px;
    text-align: center;
    font-size: 40px;
  }
  #pix {
    margin-left: 145px;
    height: 475px;
    margin-top: -25px;
    text-align: center;
  }
  #subtítulo2 {
    margin-left: 0px;
    text-align: center;
    font-size: 40px;
  }
  #subtítulo3 {
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
  }
  .explpix {
    margin-top: -10px;
    font-size: 1.5em;
    margin-left: 10px;
  }
  .explpix2 {
    font-size: 1.5em;
    margin-left: 10px;
  }
  #logo2 {
    margin-left: 160px;
    height: 175px;
    margin-top: 10px;
  }
  .ano {
    font-size: 13px;
    margin-left: 340px;
  }

  .direitos {
    text-align: center;
  }
  .doacao {
    margin-left: 275px;
    height: 5px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
    padding: 1.5em 8em;
  }
  #fale {
    text-align: center;
    font-size: 24px;
  }
  .email {
    margin-left: 240px;
    font-size: 24px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  #logo {
    margin-left: 5px;
    height: 70px;
    margin-top: 0x;
  }
  .sobre {
    margin-left: 175px;
    font-size: 22px;
    margin-top: -90px;
  }
  button {
    margin-top: -65px;
    margin-left: 225px;
    cursor: pointer;
    background: #fbfbfb;
    color: #343a40;
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    outline: 0;
    white-space: nowrap;
    transition: all 0.3s;
    margin-bottom: 0;
    padding: 0.001rem 0.001rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    display: block;
    user-select: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: "Ubuntu",
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
    }

    .menu2 ul {
      list-style: none;
      position: relative;
    }

    .menu2 ul li {
      width: 150px;
      float: left;
      margin-left: 20px;
      margin-top: -10px;
    }

    .menu2 a {
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #121214;
      color: white;
      margin-left: 0px;
    }

    .menu2 button a {
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: white;
      color: #343a40;
      margin-left: 0px;
    }

    .menu2 ul ul {
      position: absolute;
      visibility: hidden;
    }

    .menu2 ul li:hover ul {
      visibility: visible;
    }

    .menu2 a:hover {
      background-color: #30e342;
    }

    .menu2 ul ul li {
      float: none;
      border-bottom: solid 1px white;
      margin-left: 200px;
    }

  p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
    max-width: unset;
    color: #30e342;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-family: "Playfair Display", Inter,
      sans-serif;
    display: flex;
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.019em;
    color: white;
    box-sizing: inherit;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: -25px;
    margin-inline-end: 0px;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
  }

  #m1 {
    color:#fbfbfb;
    margin-left: 10px;
    margin-top: 75px;
    background-color: #30e342;
  }

  .img1 {
    margin-left: 137.5px;
    height: 200px;
    margin-top: -100px;
  }

  #tipo2 {
    margin-left: -25px;
    display: block;
    text-align: center;
  }

  .títuloMem {
    margin-left: -10px;
    display: block;
  }

  .img2 {
    margin-top: -100px;
     margin-left: 10px;
     height: 200px;
  }

  #m2 {
    margin-top: 75px;
    margin-left: 200px;
    background-color: #30e342;
  }

  .títuloMETF {
    margin-left: 0px;
    display: block;
  }

  .img3 {
    margin-top: -100px;
    margin-left: 150px;
    height: 150px;
  }

  #logo2 {
  margin-left: 10px;
  height: 70px;
  margin-top: 0px;
}
.ano {
  margin-left: 40px;
  margin-top: -65px;
}

.direitos {
  margin-left: 150px;
  margin-top: -10px;
}

#fale {
  margin-top: 25px;
}

#email {
  margin-left: 75px;
  margin-top: 40px;
}
.informacoes {
  margin-left: 125px;
  margin-top: 15px;
}
.politica {
  margin-left: 100px;
}
.sobre2 {
  margin-left: 140px;
  margin-top: 10px;
}
#termos {
  margin-left: 125px;
  margin-top: 10px;
}
#link-topo {
  margin-right: 925px;
  margin-top: -100px;
}
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
.container {
  background-color: #121214;
}

#logo {
  cursor: pointer;
  height: 150px;
  margin-top: 20px;
  margin-left: -250px;
}

.sobre {
  margin-left: 1150px;
  margin-top: -130px;
  background-color: #121214;
  padding: 32px 0;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  font-size: 2rem;
  font-family: Inter, sans-serif;
}

.menu ul {
  list-style: none;
  position: relative;
  margin-left: 0px;
}

.menu ul li {
  width: 175px;
  float: left;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
  font-size: 32px;
}

.menu ul ul {
  position: absolute;
  visibility: hidden;
}

.menu ul li:hover ul {
  visibility: visible;
}

.menu a:hover {
  background-color: #30e342;
}

.menu ul ul li {
  float: none;
  border-bottom: solid 1px white;
}

button {
  margin-top: -115px;
  margin-left: 1175px;
  cursor: pointer;
  background: #fbfbfb;
  color: #343a40;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  transition: all 0.3s;
  margin-bottom: 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-family: "Ubuntu",
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
}

main {
  margin-top: -25px;
}

p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  max-width: unset;
  color: #30e342;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  font-family: "Playfair Display", Inter,
    sans-serif;
  display: flex;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.019em;
  color: white;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#m1 {
  color:#fbfbfb;
  margin-left: 40px;
  margin-top: 25px;
  background-color: #30e342;
}

.img1 {
  margin-left: 900px;
  height: 900px;
  margin-top: -75px;
}

#tipo2 {
  margin-left: 1300px;
  font-size: 24px;
  display: block;
}

.títuloMem {
  margin-left: 1025px;
  display: block;
}

.img2 {
  margin-top: -50px;
   margin-left: 200px;
   height: 900px;
}

.títuloMETF {
  margin-left: 40px;
  display: block;
}

#m2 {
  margin-top: 25px;
  margin-left: 1575px;
  background-color: #30e342;
}

.img3 {
  margin-top: -50px;
  margin-left: 900px;
  height: 625px;
}

#logo2 {
  margin-left: 30px;
  cursor: pointer;
  height: 140px;
  display: inline;
  margin-top: 25px;
}

.ano {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  margin-left: -1100px;
  margin-top: -75px;
  display: block;
}

.direitos {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  display: block;
  margin-left: -925px;
  display: block;
}

#fale {
  font-size: 24px;
  margin-top: -100px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#email {
  margin-left: 800px;
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.informacoes {
  font-size: 2rem;
  margin-bottom: 16px;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 1425px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: -75px;
}

.menu2 ul {
  list-style: none;
  position: relative;
  margin-left: 175px;
}

.menu2 ul li {
  width: 175px;
  float: left;
  margin-left: -50px;
  margin-top: -10px;
}

.menu2 a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
  margin-left: 0px;
  font-size: 32px;
}

.menu2 button a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: #343a40;
  margin-left: 0px;
}

.menu2 ul ul {
  position: absolute;
  visibility: hidden;
}

.menu2 ul li:hover ul {
  visibility: visible;
}

.menu2 a:hover {
  background-color: #30e342;
}

.menu2 ul ul li {
  float: none;
  border-bottom: solid 1px white;
  margin-left: 1035px;
}

.politica {
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1200px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.sobre2 {
  font-size: 20px;
  margin-top: -27.5px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1700px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#termos {
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1500px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin-top: -40px;
}

#link-topo {
  text-decoration: none;
  color: #e1e1e6;
  background-color: #292929;
  box-sizing: border-box;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 24;
  width: 24;
  overflow: hidden;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  font: 400 26.6666px Arial;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
}