* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

.hidden {
  display: none;
}

body {
  font-family: arial;
  background-color: #121214;
}

.cabeçalho {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}

.container {
  background-color: #121214;
  margin-top: -50px;
}

#logo {
  cursor: pointer;
  height: 75px;
  margin-top: 20px;
  margin-left: -75px;
}

.sobre {
  margin-left: 1000px;
  margin-top: -95px;
  background-color: #121214;
  padding: 32px 0;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
  font-family: Inter, sans-serif;
}

.dentro_Sobre a {
  margin-left: -75px;
  padding: 32px 0;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  list-style: none;
  font-size: 1rem;
  font-family: Inter,
    sans-serif;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu ul li {
  width: 125px;
  float: left;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
}

.menu ul ul {
  position: absolute;
  visibility: hidden;
}

.menu ul li:hover ul {
  visibility: visible;
}

.menu a:hover {
  background-color: #30e342;
}

.menu ul ul li {
  float: none;
  border-bottom: solid 1px white;
}

button {
  margin-top: -72.5px;
  margin-left: 1050px;
  cursor: pointer;
  background: #fbfbfb;
  color: #343a40;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  outline: 0;
  white-space: nowrap;
  transition: all 0.3s;
  margin-bottom: 0;
  padding: 0.4rem 0.8rem;
  font-size: 0.84375rem;
  line-height: 1.4;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-family: "Ubuntu",
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
}

.menu2 ul {
  list-style: none;
  position: relative;
}

.menu2 ul li {
  width: 150px;
  float: left;
  margin-left: 20px;
  margin-top: -10px;
}

.menu2 a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
  margin-left: 0px;
}

.menu2 button a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: #343a40;
  margin-left: 0px;
}

.menu2 ul ul {
  position: absolute;
  visibility: hidden;
}

.menu2 ul li:hover ul {
  visibility: visible;
}

.menu2 a:hover {
  background-color: #30e342;
}

.menu2 ul ul li {
  float: none;
  border-bottom: solid 1px white;
  margin-left: 1035px;
}

section {
  margin-top: 25px;
}

#model {
  margin-left: 100px;
  height: 450px;
  margin-top: -320px;
}
.subtítulo {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #e1e1e6;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin-left: 800px;
  margin-top: 10px;
}

.subtítulo2 {
  font-weight: bold;
  margin-left: 800px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  color: #e1e1e6;
  font-family: Inter, sans-serif;
}

.título {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #e1e1e6;
  transition: all 0.3s ease;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  display: block;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  font-family: Roboto, sans-serif;
}

.título2 {
  background-repeat: repeat;
  background-size: 100%;
  animation: styles_simple-animation__173wb 0.8s ease forwards;
  color: #04d361;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-left: 800px;
  margin-top: -17.5px;
}

.subtítulo3 {
  font-size: 15px;
  line-height: 25px;
  margin-top: 16px;
  color: #737380;
  font-weight: 400;
  box-sizing: border-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  font-family: Inter, sans-serif;
  margin-top: -17.5px;
}

.subtítulo4 {
  color: #e1e1e6;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  font-family: Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 800px;
}

.título3 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
  color: #e1e1e6;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 0px;
  font-family: Inter, sans-serif;
  margin-top: -10px;
}

.subtítulo5 {
  padding-top: 24px;
  position: relative;
  font-weight: 400;
  line-height: 26px;
  color: #04d361;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 800px;
  margin-inline-end: 0px;
  margin-top: -125px;
  font-family: Inter, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0px 20px;
}

#ul-principal {
  margin-left: 10px;
}

.li-p {
  line-height: 50px;
  float: left;
}

.ul-estevao,
.ul-vitor,
.ul-bruno,
.ul-lucas,
.ul-silas {
  display: none;
}

h1 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: 0px;
}

h2 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
}

h5 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
}

.hs1 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 550px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: -70px;
}

.hs2 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 560px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: -70px;
}

.hs3 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 565px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: -70px;
}

.hs4 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 550px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: -70px;
}

.hs5 {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #e1e1e6;
  font-weight: 700;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 555px;
  margin-inline-end: 0px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Roboto, sans-serif;
  margin-top: -70px;
}

#img1 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
  margin-left: 575px;
  margin-top: 100px;
}

#img2 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
  margin-left: 565px;
  margin-top: 100px;
}

#img3 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
  margin-left: 560px;
  margin-top: 100px;
}

#img4 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
  margin-left: 565px;
  margin-top: 100px;
}

#img5 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
  margin-left: 565px;
  margin-top: 100px;
}

.ps1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #04d361;
  margin-top: -75px;
  text-align: center;
}

.ps2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #04d361;
  margin-right: 35px;
  margin-top: -75px;
  text-align: center;
}

.ps3 {
  font-size: 20px;
  margin-right: 50px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #04d361;
  margin-top: -75px;
  text-align: center;
}

.ps4 {
  font-size: 20px;
  margin-right: 40px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #04d361;
  margin-top: -75px;
  text-align: center;
}

.ps5 {
  font-size: 20px;
  margin-right: 40px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #04d361;
  margin-top: -75px;
  text-align: center;
}

.pps1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: #e1e1e6;
  margin-top: 0px;
  text-align: center;
}

.pps2 {
  font-size: 20px;
  margin-right: 35px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.pps3 {
  font-size: 20px;
  margin-right: 50px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.pps4 {
  font-size: 20px;
  margin-right: 40px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.pps5 {
  font-size: 20px;
  margin-right: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: Inter, sans-serif;
  color: white;
  margin-top: 0px;
  text-align: center;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #4fe090;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#logo2 {
  margin-left: 30px;
  cursor: pointer;
  height: 75px;
  display: inline;
  margin-top: 25px;
}

.ano {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  margin-left: 200px;
  margin-top: -75px;
  display: block;
}

.direitos {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  display: block;
  margin-left: 200px;
  display: block;
}

#fale {
  font-size: 14px;
  margin-top: -75px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: -40px;
}

#email {
  margin-left: 550px;
  color: white;
  text-decoration: none;
}

.informacoes {
  font-size: 1rem;
  margin-bottom: 16px;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 1025px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: -50px;
}

.politica {
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 875px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.sobre2 {
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1075px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#termos {
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1175px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin-top: -27.5px;
}

#link-topo {
  text-decoration: none;
  color: #e1e1e6;
  background-color: #292929;
  box-sizing: border-box;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 24;
  width: 24;
  overflow: hidden;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  font: 400 13.3333px Arial;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #30e342);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #30e342);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1ee64c;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

@media screen and (max-width: 280px) {
  #logo {
    height: 45px;
  }
  .sobre {
    margin-left: 110px;
    font-size: 16px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 200px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    padding: 1.5em;
  }
  hr {
    margin-top: 10px;
  }
  #model {
    height: 275px;
    margin-left: -45px;
    margin-top: -25px;
  }
  .subtítulo {
    margin-left: 35px;
    font-size: 15px;
    margin-top: 10px;
  }
  .subtítulo2 {
    margin-left: 115px;
    font-size: 15px;
    margin-top: -45px;
  }
  .título {
    margin-left: 10px;
    font-size: 16px;
    margin-top: -10px;
  }
  .título2 {
    margin-left: 10px;
    font-size: 16px;
    margin-top: -10px;
  }

  .subtítulo3 {
    margin-left: 10px;
    margin-top: -10px;
  }

  .subtítulo4 {
    margin-left: 10px;
  }

  .título3 {
    margin-top: -5px;
    margin-left: 10px;
    font-size: 42px;
  }

  .subtítulo5 {
    margin-left: 10px;
    margin-top: -65px;
  }

  .estevao,
  .vitor,
  .bruno,
  .lucas,
  .silas {
    margin-left: -30px;
    margin-top: 10px;
  }
  #nome1,
  #nome2,
  #nome3,
  #nome4,
  #nome5 {
    font-size: 28px;
  }
  .hs1,
  .hs2,
  .hs3,
  .hs4,
  .hs5 {
    display: none;
  }
  #img1 {
    margin-left: -10px;
  }
  #img2 {
    margin-left: -25px;
  }
  #img3 {
    margin-left: -30px;
  }
  #img4 {
    margin-left: -15px;
  }
  #img5 {
    margin-left: -25px;
  }
  .ps1 {
    margin-left: -55px;
  }
  .ps2 {
    margin-left: -80px;
  }
  .ps3 {
    margin-left: -90px;
  }
  .ps4 {
    margin-left: -65px;
  }
  .ps5 {
    margin-left: -65px;
  }
  .pps1 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps2 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps3 {
    margin-left: -60px;
    text-align: left;
    font-size: 15px;
  }
  .pps4 {
    margin-left: -60px;
    text-align: left;
    font-size: 15px;
  }
  .pps5 {
    margin-left: -55px;
    text-align: left;
    font-size: 15px;
  }
  #logo2 {
    margin-left: 50px;
    height: 65px;
    margin-top: 10px;
  }
  .ano {
    margin-left: 100px;
  }
  .direitos {
    text-align: center;
  }
  .doacao {
    margin-left: 100px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  .email {
    margin-left: -5px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-top: -30px;
    margin-right: 65px;
  }
}

@media screen and (min-width: 281px) and (max-width: 320px) {
  #logo {
    height: 50px;
  }
  .sobre {
    margin-left: 130px;
    font-size: 20px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 240px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
  }
  hr {
    margin-top: 8px;
  }
  #model {
    height: 325px;
    margin-left: -60px;
    margin-top: -25px;
  }
  .subtítulo {
    margin-left: 55px;
    font-size: 15px;
    margin-top: 10px;
  }
  .subtítulo2 {
    margin-left: 135px;
    font-size: 15px;
    margin-top: -45px;
  }
  .título {
    margin-left: 10px;
    font-size: 19px;
    margin-top: -10px;
  }
  .título2 {
    margin-left: 10px;
    font-size: 18px;
    margin-top: -10px;
  }

  .subtítulo3 {
    margin-left: 10px;
    margin-top: -10px;
  }

  .subtítulo4 {
    margin-left: 10px;
  }

  .título3 {
    margin-top: -5px;
    margin-left: 10px;
  }

  .subtítulo5 {
    margin-left: 10px;
    margin-top: -65px;
  }

  .estevao,
  .vitor,
  .bruno,
  .lucas,
  .silas {
    margin-left: -30px;
    margin-top: 10px;
  }
  .hs1,
  .hs2,
  .hs3,
  .hs4,
  .hs5 {
    display: none;
  }
  #img1 {
    margin-left: 5px;
  }
  #img2 {
    margin-left: -10px;
  }
  #img3 {
    margin-left: -20px;
  }
  #img4 {
    margin-left: -5px;
  }
  #img5 {
    margin-left: -10px;
  }
  .ps1 {
    margin-left: -70px;
  }
  .ps2 {
    margin-left: -90px;
  }
  .ps3 {
    margin-left: -115px;
  }
  .ps4 {
    margin-left: -70px;
  }
  .ps5 {
    margin-left: -70px;
  }
  .pps1 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps2 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps3 {
    margin-left: -60px;
    text-align: left;
    font-size: 15px;
  }
  .pps4 {
    margin-left: -60px;
    text-align: left;
    font-size: 15px;
  }
  .pps5 {
    margin-left: -55px;
    text-align: left;
    font-size: 15px;
  }
  #logo2 {
    margin-left: 60px;
    height: 65px;
    margin-top: -25px;
  }
  .doacao {
    margin-left: 110px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  .email {
    margin-left: 25px;
  }
  #fale {
    margin-left: -20px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  #logo {
    height: 50px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 160px;
    font-size: 20px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 275px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    padding: 1.5em;
  }
  hr {
    margin-top: 5px;
  }
  #model {
    height: 350px;
    margin-left: -45px;
    margin-top: -25px;
  }
  .subtítulo {
    margin-left: 70px;
    font-size: 15px;
    margin-top: 10px;
  }
  .subtítulo2 {
    margin-left: 150px;
    font-size: 15px;
    margin-top: -45px;
  }
  .título {
    margin-left: 30px;
    font-size: 19px;
    margin-top: -10px;
  }
  .título2 {
    margin-left: 30px;
    font-size: 18px;
    margin-top: -10px;
  }

  .subtítulo3 {
    margin-left: 35px;
    margin-top: -10px;
  }

  .subtítulo4 {
    margin-left: 35px;
  }

  .título3 {
    margin-top: -5px;
    margin-left: 10px;
  }

  .subtítulo5 {
    margin-left: 10px;
    margin-top: -65px;
  }

  .estevao,
  .vitor,
  .bruno,
  .lucas,
  .silas {
    margin-left: -30px;
    margin-top: 10px;
  }
  .hs1,
  .hs2,
  .hs3,
  .hs4,
  .hs5 {
    display: none;
  }
  #img1 {
    margin-left: 10px;
  }
  #img2 {
    margin-left: -10px;
  }
  #img3 {
    margin-left: -20px;
  }
  #img4 {
    margin-left: -5px;
  }
  #img5 {
    margin-left: -10px;
  }
  .ps1 {
    margin-left: -105px;
  }
  .ps2 {
    margin-left: -150px;
  }
  .ps3 {
    margin-left: -175px;
  }
  .ps4 {
    margin-left: -130px;
  }
  .ps5 {
    margin-left: -130px;
  }
  .pps1 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps2 {
    margin-left: -25px;
    text-align: left;
    font-size: 15px;
  }
  .pps3 {
    margin-left: -25px;
    text-align: left;
    font-size: 15px;
  }
  .pps4 {
    margin-left: -40px;
    text-align: left;
    font-size: 15px;
  }
  .pps5 {
    margin-left: -55px;
    text-align: left;
    font-size: 15px;
  }
  #logo2 {
    margin-left: 95px;
    height: 65px;
    margin-top: 10px;
  }
  .doacao {
    margin-left: 145px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    margin-left: 0px;
  }
  .email {
    margin-left: 60px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 75px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  #logo {
    height: 50px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 175px;
    font-size: 20px;
    margin-top: -70px;
  }
  button {
    margin-top: -85px;
    margin-left: 325px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    padding: 1.5em;
  }
  hr {
    margin-top: 5px;
  }
  #model {
    height: 400px;
    margin-left: -60px;
    margin-top: -25px;
  }
  .subtítulo {
    margin-left: 75px;
    font-size: 20px;
    margin-top: 10px;
  }
  .subtítulo2 {
    margin-left: 180px;
    font-size: 20px;
    margin-top: -50px;
  }
  .título {
    margin-left: 10px;
    font-size: 24px;
    margin-top: -10px;
  }
  .título2 {
    margin-left: 10px;
    font-size: 24px;
    margin-top: -10px;
  }

  .subtítulo3 {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 18px;
  }

  .subtítulo4 {
    margin-left: 10px;
    font-size: 18px;
  }

  .título3 {
    margin-top: -5px;
    margin-left: 10px;
  }

  .subtítulo5 {
    margin-left: 10px;
    margin-top: -65px;
    font-size: 18px;
  }

  .estevao,
  .vitor,
  .bruno,
  .lucas,
  .silas {
    margin-left: -30px;
    margin-top: 10px;
  }
  .hs1,
  .hs2,
  .hs3,
  .hs4,
  .hs5 {
    display: none;
  }
  #img1 {
    margin-left: 10px;
  }
  #img2 {
    margin-left: -10px;
  }
  #img3 {
    margin-left: -20px;
  }
  #img4 {
    margin-left: -5px;
  }
  #img5 {
    margin-left: -10px;
  }
  .ps1 {
    margin-left: -150px;
  }
  .ps2 {
    margin-left: -200px;
  }
  .ps3 {
    margin-left: -225px;
  }
  .ps4 {
    margin-left: -200px;
  }
  .ps5 {
    margin-left: -130px;
  }
  .pps1 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps2 {
    margin-left: -30px;
    text-align: left;
    font-size: 15px;
  }
  .pps3 {
    margin-left: -25px;
    text-align: left;
    font-size: 15px;
  }
  .pps4 {
    margin-left: -20px;
    text-align: left;
    font-size: 15px;
  }
  .pps5 {
    margin-left: -35px;
    text-align: left;
    font-size: 15px;
  }
  #logo2 {
    margin-left: 100px;
    height: 85px;
    margin-top: 10px;
  }
  .doacao {
    margin-left: 175px;
    height: 5px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    margin-left: 25px;
  }
  .email {
    margin-left: 90px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 100px;
  }
}

@media screen and (min-width: 426px) and (max-width: 540px) {
  #logo {
    height: 50px;
    margin-left: 10px;
  }
  .sobre {
    margin-left: 160px;
    font-size: 24px;
    margin-top: -70px;
  }
  button {
    margin-top: -95px;
    margin-left: 325px;
    height: 3px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    padding: 1.5em;
  }
  hr {
    margin-top: 5px;
  }
  .subtítulo {
    margin-left: 55px;
    font-size: 24px;
    margin-top: 10px;
  }
  .subtítulo2 {
    margin-left: 180px;
    font-size: 24px;
    margin-top: -54px;
  }
  .título {
    margin-left: 10px;
    font-size: 24px;
    margin-top: -10px;
  }
  .título2 {
    margin-left: 10px;
    font-size: 24px;
    margin-top: -10px;
  }
  .subtítulo3 {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 13px;
  }
  .subtítulo4 {
    margin-left: 10px;
    font-size: 13px;
  }
  #model {
    height: 425px;
    margin-left: -65px;
    margin-top: -25px;
  }
  .título3 {
    margin-top: -5px;
    margin-left: 10px;
    font-size: 36px;
  }
  .subtítulo5 {
    margin-left: 10px;
    margin-top: -65px;
    font-size: 18px;
  }
  .estevao,
  .vitor,
  .bruno,
  .lucas,
  .silas {
    margin-left: -30px;
    margin-top: 10px;
  }
  .hs1,
  .hs2,
  .hs3,
  .hs4,
  .hs5 {
    display: none;
  }
  #img1 {
    margin-left: 10px;
  }
  #img2 {
    margin-left: -10px;
  }
  #img3 {
    margin-left: -20px;
  }
  #img4 {
    margin-left: -5px;
  }
  #img5 {
    margin-left: -10px;
  }
  .ps1 {
    margin-left: -150px;
  }
  .ps2 {
    margin-left: -200px;
  }
  .ps3 {
    margin-left: -225px;
  }
  .ps4 {
    margin-left: -200px;
  }
  .ps5 {
    margin-left: -130px;
  }
  .pps1 {
    margin-left: -50px;
    text-align: left;
    font-size: 15px;
  }
  .pps2 {
    margin-left: -30px;
    text-align: left;
    font-size: 15px;
  }
  .pps3 {
    margin-left: -25px;
    text-align: left;
    font-size: 15px;
  }
  .pps4 {
    margin-left: -20px;
    text-align: left;
    font-size: 15px;
  }
  .pps5 {
    margin-left: -35px;
    text-align: left;
    font-size: 15px;
  }
  #logo2 {
    margin-left: 100px;
    height: 85px;
    margin-top: 10px;
  }
  .doacao {
    margin-left: 175px;
    height: 5px;
    border-radius: 1em;
    min-width: 5px;
    background-color: white;
    margin-top: 0px;
  }
  #fale {
    margin-left: 25px;
  }
  .email {
    margin-left: 90px;
  }
  .novidades {
    display: none;
  }
  #mc_embed_signup {
    display: none;
  }
  #link-topo {
    margin-right: 100px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1921px) {
  .container {
    background-color: #121214;
  }

  #logo {
    cursor: pointer;
    height: 150px;
    margin-top: 20px;
    margin-left: -250px;
  }

  .sobre {
    margin-left: 1150px;
    margin-top: -135px;
    background-color: #121214;
    padding: 32px 0;
    color: white;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    font-size: 2rem;
    font-family: Inter, sans-serif;
  }

  .menu ul {
    list-style: none;
    position: relative;
    margin-left: 0px;
  }

  .menu ul li {
    width: 175px;
    float: left;
  }

  .menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #121214;
    color: white;
    font-size: 32px;
  }

  .menu ul ul {
    position: absolute;
    visibility: hidden;
  }

  .menu ul li:hover ul {
    visibility: visible;
  }

  .menu a:hover {
    background-color: #30e342;
  }

  .menu ul ul li {
    float: none;
    border-bottom: solid 1px white;
  }

  button {
    margin-top: -130px;
    margin-left: 1175px;
    cursor: pointer;
    background: #fbfbfb;
    color: #343a40;
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    outline: 0;
    white-space: nowrap;
    transition: all 0.3s;
    margin-bottom: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    line-height: 1.4;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    display: block;
    user-select: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: "Ubuntu",
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  }

  section {
    margin-top: 25px;
  }

  #model {
    margin-left: 100px;
    height: 675px;
    margin-top: -320px;
  }

  .subtítulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #e1e1e6;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    margin-left: 1200px;
    margin-top: 10px;
  }

  .subtítulo2 {
    font-weight: bold;
    margin-left: 1200px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 30px;
    color: #e1e1e6;
    font-family: Inter, sans-serif;
  }

  .título {
    font-size: 36px;
    line-height: 35px;
    font-weight: 700;
    color: #e1e1e6;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 1200px;
    margin-inline-end: 0px;
    font-family: Roboto, sans-serif;
  }

  .título2 {
    background-repeat: repeat;
    background-size: 100%;
    animation: styles_simple-animation__173wb 0.8s ease forwards;
    color: #04d361;
    box-sizing: border-box;
    font-size: 36px;
    line-height: 35px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin-left: 1200px;
    margin-top: -17.5px;
  }

  .subtítulo3 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 16px;
    color: #737380;
    font-weight: 400;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1200px;
    margin-inline-end: 0px;
    font-family: Inter, sans-serif;
    margin-top: -17.5px;
  }

  .subtítulo4 {
    color: #e1e1e6;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    font-family: Roboto, sans-serif;
    margin-top: 0px;
    margin-left: 1200px;
  }

  .título3 {
    font-size: 52px;
    line-height: 54px;
    font-weight: 700;
    color: #e1e1e6;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 80px;
    margin-inline-end: 0px;
    font-family: Inter, sans-serif;
    margin-top: -10px;
  }

  .subtítulo5 {
    padding-top: 24px;
    position: relative;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: #04d361;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1200px;
    margin-inline-end: 0px;
    margin-top: -125px;
    font-family: Inter, sans-serif;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 20px;
  }

  #ul-principal {
    margin-left: 10px;
  }

  .li-p {
    line-height: 50px;
    float: left;
  }

  .ul-estevao,
  .ul-vitor,
  .ul-bruno,
  .ul-lucas,
  .ul-silas {
    display: none;
  }

  h1 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: 0px;
  }

  h2 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
  }

  h3 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
  }

  h4 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
  }

  h5 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
  }

  .hs1 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 825px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: -70px;
  }

  .hs2 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 835px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: -70px;
  }

  .hs3 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 840px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: -70px;
  }

  .hs4 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 825px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: -70px;
  }

  .hs5 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #e1e1e6;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 830px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Roboto, sans-serif;
    margin-top: -70px;
  }

  #img1 {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    margin-left: 800px;
    margin-top: 175px;
  }

  #img2 {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    margin-left: 790px;
    margin-top: 175px;
  }

  #img3 {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    margin-left: 785px;
    margin-top: 175px;
  }

  #img4 {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    margin-left: 790px;
    margin-top: 175px;
  }

  #img5 {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
    margin-left: 790px;
    margin-top: 175px;
  }

  .ps1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #04d361;
    margin-top: -150px;
    text-align: center;
  }

  .ps2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #04d361;
    margin-right: 35px;
    margin-top: -150px;
    text-align: center;
  }

  .ps3 {
    font-size: 28px;
    margin-right: 50px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #04d361;
    margin-top: -150px;
    text-align: center;
  }

  .ps4 {
    font-size: 28px;
    margin-right: 40px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #04d361;
    margin-top: -150px;
    text-align: center;
  }

  .ps5 {
    font-size: 28px;
    margin-right: 40px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #04d361;
    margin-top: -150px;
    text-align: center;
  }

  .pps1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: #e1e1e6;
    margin-top: 0px;
    text-align: center;
  }

  .pps2 {
    font-size: 26px;
    margin-right: 35px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: white;
    margin-top: 0px;
    text-align: center;
  }

  .pps3 {
    font-size: 26px;
    margin-right: 50px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: white;
    margin-top: 0px;
    text-align: center;
  }

  .pps4 {
    font-size: 26px;
    margin-right: 40px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: white;
    margin-top: 0px;
    text-align: center;
  }

  .pps5 {
    font-size: 26px;
    margin-right: 20px;
    line-height: 32px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: Inter, sans-serif;
    color: white;
    margin-top: 0px;
    text-align: center;
  }

#logo2 {
  margin-left: 30px;
  cursor: pointer;
  height: 140px;
  display: inline;
  margin-top: 25px;
}

.ano {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  margin-left: 350px;
  margin-top: -90px;
  display: block;
}

.direitos {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #a8a8b3;
  display: block;
  margin-left: 350px;
  display: block;
  margin-top: 10px;
}

#fale {
  font-size: 24px;
  margin-top: -75px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#email {
  margin-left: 800px;
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.informacoes {
  font-size: 2rem;
  margin-bottom: 16px;
  box-sizing: inherit;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 1425px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: -75px;
}

.menu2 ul {
  list-style: none;
  position: relative;
  margin-left: 175px;
}

.menu2 ul li {
  width: 175px;
  float: left;
  margin-left: -50px;
  margin-top: -10px;
}

.menu2 a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #121214;
  color: white;
  margin-left: 0px;
  font-size: 32px;
}

.menu2 button a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: #343a40;
  margin-left: 0px;
}

.menu2 ul ul {
  position: absolute;
  visibility: hidden;
}

.menu2 ul li:hover ul {
  visibility: visible;
}

.menu2 a:hover {
  background-color: #30e342;
}

.menu2 ul ul li {
  float: none;
  border-bottom: solid 1px white;
  margin-left: 1035px;
}

.politica {
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1200px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.sobre2 {
  font-size: 20px;
  margin-top: -27.5px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1700px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

#termos {
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: inherit;
  display: flex;
  justify-content: left;
  margin-left: 1500px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Inter,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin-top: -40px;
}

#link-topo {
  text-decoration: none;
  color: #e1e1e6;
  background-color: #292929;
  box-sizing: border-box;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 24;
  width: 24;
  overflow: hidden;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  font: 400 26.6666px Arial;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 20px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
}